<form name="form" ng-submit="pasteDetailCtrl.updatePaste(paste)">
	<div class="editor-row">
		<div class="editor-leftcolumn">
			<ul class="editor-leftcolumn-side-nav">
				<li><label>Topbar</label></li>
				<li><input ng-model="paste.title" placeholder="Paste title" type="text" ng-disabled="(!paste.author || paste.author && paste.author.id !== user.id)"></li>
				<li ng-if="paste.author"><label>Author</label></li>
				<li ng-if="paste.author"><a href="">{{ ::paste.author.name }}</a></li>
				<li><label>Options</label></li>
				<li ng-if="(paste.author && paste.author.id === user.id)" ng-click="pasteDetailCtrl.updatePaste(paste)">
					<a>
						<i class="fa fa-save"></i> {{ paste.saving ? 'Salvando...' : 'Salvar' }}
					</a>
				</li>
			</ul>
		</div>
		<div class="editor-column">
			<textarea ng-codemirror="pasteCtrl.getEditorOptions({
				readOnly: !(paste.author.id === user.id)
			})"
			ng-model="paste.code"
			cols="30"
			rows="10"></textarea>
		</div>
	</div>
</form>