<div class="post-list-row">
	<aside>
		<h5>Categories</h5>

		<ul class="side-nav">
			<li ng-click="query.category_id = 0"><a href="">None</a></li>
			<li ng-repeat="category in ::categories" ng-click="query.category_id = category.id"><a href="">{{ ::category.name }}</a></li>
		</ul>
	</aside>

	<section>
		<div class="row">
			<div class="small-12 columns">
				<h4>Category</h4>

				<dl class="filter">
					<dt>Filter:</dt>
					<dd ng-class="{
						'active': query.status === 0
					}" ng-click="query.status = 0"><a href="">All</a></dd>
					<dd ng-class="{
						'active': query.status === 'open'
					}" ng-click="query.status = 'open'"><a href="">Open</a></dd>
					<dd ng-class="{
						'active': query.status === 'solved'
					}" ng-click="query.status = 'solved'"><a href="">Solved</a></dd>
					<dd ng-class="{
						'active': query.status === 'closed'
					}" ng-click="query.status = 'closed'"><a href="">Closed</a></dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns" ng-if="!posts.length">
				<h2>Sorry! We did find no posts.</h2>
			</div>
		</div>
		<div class="post-cards-list" ng-repeat="post in posts" ng-if="posts.length">
			<article>
				<h6>
					<a ui-sref="post.detail({ post: post.id })">{{ ::post.title }}</a>

					<span class="status">
						{{ ::post.status }}
						<i class="fa" ng-class="{
							'fa-lock': post.status === 'closed',
							'fa-thumbs-o-up': post.status === 'solved',
							'fa-paint-brush': post.status === 'open'
						}"></i>
					</span>
				</h6>
				<small>Posted by <a href="">{{ ::post.author.name }}</a></small>
			</article>
		</div>

		<paginator ng-show="posts.length"></paginator>
	</section>
</div>