@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

body {
	overflow-x: none;
	overflow-y: scroll;
}

input,
textarea {
	&.ng-dirty.ng-invalid {
		// border-color: red;
	}

	&.ng-dirty.ng-valid {
		// border-color: green;
	}
}

[ui-view] {
	&.ng-enter,
	&.ng-enter-active,
	&.ng-leave,
	&.ng-leave-active {
		transition: 0.4s all ease-in-out;
	}

	&.ng-enter {
		transform: scale3d(0.95, 0.96, 0.95) translateX(-3%);
		opacity: 0.3;
	}

	&.ng-enter-active {
		transform: scale3d(1, 1, 1) translateX(0%);
		opacity: 1;
	}

	&.ng-leave {
		transform: scale3d(1, 1, 1) translateX(0%);
		opacity: 0.5;
	}

	&.ng-leave-active {
		transform: scale3d(0.95, 0.95, 0.95) translateX(-3%);
		opacity: 0.1;
	}
}