@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

body {
	overflow-x: none;
	overflow-y: scroll;
}

input,
textarea {
	&.ng-dirty.ng-invalid {
		// border-color: red;
	}

	&.ng-dirty.ng-valid {
		// border-color: green;
	}
}

[ui-view] {
	&.ng-enter,
	&.ng-enter-active,
	&.ng-leave,
	&.ng-leave-active {
	}

	&.ng-enter {
	}

	&.ng-enter-active {
	}

	&.ng-leave {
	}

	&.ng-leave-active {
	}
}