@import "../../../stylesheets/app";

body {
	overflow-x: hidden;
}

.editor-topbar,
.editor-column {
	padding: 0 !important;
}

.editor-topbar {
	background-color: #333333;

	@include grid-column(12);
}

.editor-column {
	@include grid-column(12);
}