<div class="row">
	<div class="large-6 columns"></div>
	<div class="large-6 columns">
		<h3>Register</h3>

		<form ng-submit="userCreateCtrl.storeUser(user)">
			<div class="row">
				<div class="small-6 columns">
					<label>
						<input ng-model="user.first_name" placeholder="Your first name" type="text">
					</label>
				</div>
				<div class="small-6 columns">
					<label>
						<input ng-model="user.last_name" placeholder="Your last name" type="text">
					</label>
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<input ng-model="user.email" placeholder="Your e-mail address" type="email">
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<label>
						<input ng-model="user.password" placeholder="Your password" type="password">
					</label>
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<button class="button" type="submit">Do me!</button>
				</div>
			</div>
		</form>
	</div>
</div>