<form name="form" ng-submit="pasteCreateCtrl.storePaste(paste)">
	<div class="editor-row">
		<div class="editor-leftcolumn">
			<ul class="editor-leftcolumn-side-nav">
				<li><label>Topbar</label></li>
				<li><input ng-model="paste.title" placeholder="Paste title" type="text"></li>
				<li><label>Options</label></li>
				<li ng-click="pasteCreateCtrl.storePaste(paste)"><a><i class="fa fa-save"></i> Salvar</a></li>
			</ul>
		</div>
		<div class="editor-column">
			<textarea ng-codemirror="pasteCtrl.getEditorOptions()"
			ng-model="paste.code"
			cols="30"
			rows="10"></textarea>
		</div>
	</div>
</form>