<!DOCTYPE html>
<html>
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% if(csrf_token) { %>
			<meta name="csrf_token" content="<%= csrf_token %>">
		<% } %>
		<title></title>

		<link rel="stylesheet" href="css/app.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<nav class="top-bar" role="navigation">
			<ul class="title-area">
				<li class="toggle-topbar menu-icon">
					<a href=""><span>Menu</span></a>
				</li>
			</ul>

			<section class="top-bar-section">
				<ul class="left">
					<li ui-sref-active="active">
						<a ui-sref="home.index">Home</a>
					</li>

					<li ui-sref-active="active">
						<a ui-sref="paste.create">Create new paste</a>
					</li>
				</ul>

				<ul if-logged class="right">
					<li class="has-dropdown">
						<a href=""><img src="http://placehold.it/24x24" style="border-radius:100%"> victorqueiroz</a>

						<ul class="dropdown">
							<li ui-sref-active="active">
								<a ui-sref="user.profile">Profile</a>
							</li>
						</ul>
					</li>
				</ul>

				<ul if-not-logged class="right">
					<li ui-sref-active="active">
						<a ui-sref="user.login">Login</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="user.create">Register</a>
					</li>
				</ul>
			</section>
		</nav>

		<div ui-view></div>

		<script src="js/angular-io.js"></script>
		<script src="lib/codemirror/addons.js"></script>
		<script src="lib/codemirror/modes.js"></script>
		<script src="js/templates.js"></script>
		<script>
			angular.element(document).ready(function () {
				angular.bootstrap(document, ['angular-io']);
			});
		</script>
		<script src="lib/modernizr/modernizr.js"></script>
	</body>
</html>